In [1]:
print('Hello World!')

Hello World!

In [2]:
a = "Ganesh dutt"

In [8]:
x = 10
print(x , type(x))

10 <class 'int'>

In [9]:
x = "Ganesh Dutt"
print(x, type(x))

Ganesh Dutt <class 'str'>

In [10]:
value1 = 12.6
value2 = 13.4
print(value1 + value2 , type(value1 + value2))

26.0 <class 'float'>

In [11]:
is_Active=  True
is_Inactive= False
print(is_Active , type(is_Active))
print(is_Inactive)

True <class 'bool'>
False

In [ ]:
name = "Ganesh Dutt"
age = 25
print("Name :  ",  name ,"Age ", age )

Name :   Ganesh Dutt AGe  25

In [15]:
name  = input("Enter your name : ")
print(name )

ganesh

In [17]:
a = int(input("Enter your first number : "))
b = int(input("Enter your second number : "))
print(a+b)

24